<?xml version="1.0" encoding="UTF-8"?>
<ModuleInfo localize="Comics module" destinationfolder="TbApps">
    <Components>
        <Library name="ComicsDbl" sourcefolder="Dbl" deploymentpolicy="full" />
        <Library name="ComicsDocuments" sourcefolder="Documents" deploymentpolicy="full" />
        <Library name="ComicsComponents" sourcefolder="Components" deploymentpolicy="full" />
		<Library name="ComicsAddOnsInventory" sourcefolder="AddOnsInventory" deploymentpolicy="addon" />
		<Library name="ComicsAddOnsSales" sourcefolder="AddOnsSales" deploymentpolicy="addon" />
	</Components>
</ModuleInfo>


